@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .bg-checkerboard {
    background-color: #f8fafc;
    background-image:
      linear-gradient(45deg, #f1f5f9 25%, transparent 25%, transparent 75%, #f1f5f9 75%, #f1f5f9),
      linear-gradient(45deg, #f1f5f9 25%, transparent 25%, transparent 75%, #f1f5f9 75%, #f1f5f9);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
  }

  .shadow-vignette {
    box-shadow: inset 0 0 200px rgba(0, 0, 0, 0.08);
    /* Inner shadow for depth */
  }
}